# Determine if any Nobel prize winners have been born in Egypt

In [16]:
import json

In [17]:
file_path = "data/laureates-1000.json"

with open(file_path, 'r') as file:
    data = json.load(file)

laureates = data['laureates']

In [18]:
laureates[0]['birth']['place']

{'city': {'en': 'Montclair, NJ', 'no': 'Montclair, NJ', 'se': 'Montclair, NJ'},
 'country': {'en': 'USA', 'no': 'USA', 'se': 'USA'},
 'cityNow': {'en': 'Montclair, NJ',
  'no': 'Montclair, NJ',
  'se': 'Montclair, NJ',
  'sameAs': ['https://www.wikidata.org/wiki/Q678437',
   'https://www.wikipedia.org/wiki/Montclair,_New_Jersey'],
  'latitude': '40.825930',
  'longitude': '-74.209030'},
 'countryNow': {'en': 'USA',
  'no': 'USA',
  'se': 'USA',
  'sameAs': ['https://www.wikidata.org/wiki/Q30'],
  'latitude': '39.828175',
  'longitude': '-98.579500'},
 'continent': {'en': 'North America',
  'no': 'Nord-Amerika',
  'se': 'Nordamerika'},
 'locationString': {'en': 'Montclair, NJ, USA',
  'no': 'Montclair, NJ, USA',
  'se': 'Montclair, NJ, USA'}}

In [19]:
data_country = []
data_country_now = []

for laureate in laureates:
    # NAME
    name = laureate.get('knownName', {}).get('en', 'Unknown')
    birth_country = laureate.get('birth', {}).get('place', {}).get('country', {}).get('en', 'Unknown')
    birth_country_now = laureate.get('birth', {}).get('place', {}).get('countryNow', {}).get('en', 'Unknown')

    data_country.append(birth_country)
    data_country_now.append(birth_country_now)

In [20]:
unique_countries = list(set(data_country))

for country in unique_countries:
    print(f"{country}: {data_country.count(country)}")

Mecklenburg: 1
Poland: 9
Romania: 4
Gold Coast: 1
Peru: 1
Scotland: 11
USSR: 7
Ethiopia: 1
Unknown: 28
USA: 289
Argentina: 4
French protectorate of Tunisia: 1
Tibet: 1
Iceland: 1
Taiwan: 1
Nigeria: 1
Lithuania: 1
Guatemala: 2
Cyprus: 1
Faroe Islands (Denmark): 1
the Netherlands: 19
Liberia: 2
Schleswig: 2
Philippines: 1
Australia: 10
Lebanon: 1
Java, Dutch East Indies: 1
Hesse-Kassel: 1
Denmark: 12
Norway: 13
Hungary: 9
British West Indies: 1
Guadeloupe Island: 1
East Timor: 2
Mexico: 3
Colombia: 2
New Zealand: 3
Venezuela: 1
Morocco: 1
Saint Lucia: 1
Belgian Congo: 1
French Algeria: 2
German-occupied Poland: 1
Bosnia: 1
Kenya: 1
Egypt: 6
Pakistan: 1
Germany: 80
Madagascar: 1
Brazil: 1
Northern Ireland: 5
Russia: 18
WÃ¼rttemberg: 1
Vietnam: 1
Southern Rhodesia: 1
East Friesland: 1
Crete: 1
Switzerland: 19
South Africa: 9
Sweden: 30
Portugal: 2
Ukraine: 1
Bavaria: 1
West Germany: 5
British Mandate of Palestine: 5
Free City of Danzig: 1
Burma: 1
Bulgaria: 1
China: 11
Italy: 18
Iraq: 1
India: 10
British Protectorate of Palestine: 1
Costa Rica: 1
Iran: 2
Tuscany: 1
Yemen: 1
France: 58
Spain: 7
Korea: 2
Czechoslovakia: 1
Austria: 16
Prussia: 13
Finland: 2
Austria-Hungary: 13
Luxembourg: 2
British India: 2
Austrian Empire: 4
Canada: 21
Turkey: 2
Ireland: 5
Persia: 1
Japan: 28
Belgium: 9
Chile: 2
Trinidad and Tobago: 1
Ottoman Empire: 2
United Kingdom: 89
Russian Empire: 16

In [22]:
unique_countries_now = list(set(data_country_now))

for country in unique_countries_now:
    print(f"{country}: {data_country_now.count(country)}")

North Macedonia: 1
Poland: 28
Romania: 4
Peru: 1
Scotland: 11
Ethiopia: 1
Unknown: 28
USA: 289
Argentina: 4
Taiwan: 1
Iceland: 1
Nigeria: 1
Lithuania: 3
Guatemala: 2
Myanmar: 1
Cyprus: 1
Faroe Islands (Denmark): 1
Greece: 1
the Netherlands: 19
Liberia: 2
Philippines: 1
Australia: 10
Lebanon: 1
Denmark: 12
Norway: 13
Hungary: 11
Guadeloupe Island: 1
East Timor: 2
Mexico: 3
Colombia: 2
New Zealand: 3
South Korea: 2
Venezuela: 1
Azerbaijan: 1
Morocco: 1
Saint Lucia: 2
Indonesia: 1
Kenya: 1
Egypt: 6
Pakistan: 3
Germany: 84
Madagascar: 1
Brazil: 1
Northern Ireland: 5
Russia: 29
Vietnam: 1
Israel: 6
Slovenia: 1
Slovakia: 1
Switzerland: 19
South Africa: 9
Sweden: 30
Portugal: 2
Ukraine: 5
Bosnia and Herzegovina: 2
Ghana: 1
Bulgaria: 1
China: 12
Italy: 20
Iraq: 1
India: 9
Belarus: 4
Costa Rica: 1
Latvia: 1
Tunisia: 1
Iran: 3
Democratic Republic of the Congo: 1
Yemen: 1
France: 61
Spain: 7
Czech Republic: 6
Zimbabwe: 1
Austria: 19
Bangladesh: 1
Croatia: 1
Finland: 5
Luxembourg: 2
Algeria: 2
Canada: 21
Turkey: 3
Ireland: 5
Japan: 28
Belgium: 9
Chile: 2
Trinidad and Tobago: 1
United Kingdom: 89

In [23]:
'Egypt' in data_country

True

In [37]:
data = []

for laureate in laureates:
    # NAME
    name = laureate.get('knownName', {}).get('en', 'Unknown')
    birth_country = laureate.get('birth', {}).get('place', {}).get('country', {}).get('en', 'Unknown')
    birth_country_now = laureate.get('birth', {}).get('place', {}).get('countryNow', {}).get('en', 'Unknown')

    my_dict = {
        'name': name,
        'birth_country': birth_country,
        'birth_country_now': birth_country_now,
        'prizes': []
    }

    nobelPrizes = laureate.get('nobelPrizes', [])
    for prize in nobelPrizes:
        year = prize.get('awardYear', 'Unknown')
        category = prize.get('category', {}).get('en', 'Unknown')
        my_dict['prizes'].append({
            'year': year,
            'category': category
        })
    
    data.append(my_dict)

In [26]:
data[0]

{'name': 'A. Michael Spence',
 'birth_country': 'USA',
 'prizes': [{'year': '2001', 'category': 'Economic Sciences'}]}

In [31]:
turkey_entries = [entry for entry in data if entry['birth_country'] == 'Turkey']

In [33]:
for entry in turkey_entries:
    print(f"{entry['name']}")
    for prize in entry['prizes']:
        print(f"  - {prize['category']} in {prize['year']}")

Aziz Sancar
  - Chemistry in 2015
Orhan Pamuk
  - Literature in 2006

In [34]:
ottoman_entries = [entry for entry in data if entry['birth_country'] == 'Ottoman Empire']

In [35]:
for entry in ottoman_entries:
    print(f"{entry['name']}")
    for prize in entry['prizes']:
        print(f"  - {prize['category']} in {prize['year']}")

Giorgos Seferis
  - Literature in 1963
Mother Teresa
  - Peace in 1979

In [38]:
turkey_entries = [entry for entry in data if entry['birth_country_now'] == 'Turkey']

In [39]:
print(json.dumps(turkey_entries, indent=2))

[
  {
    "name": "Aziz Sancar",
    "birth_country": "Turkey",
    "birth_country_now": "Turkey",
    "prizes": [
      {
        "year": "2015",
        "category": "Chemistry"
      }
    ]
  },
  {
    "name": "Giorgos Seferis",
    "birth_country": "Ottoman Empire",
    "birth_country_now": "Turkey",
    "prizes": [
      {
        "year": "1963",
        "category": "Literature"
      }
    ]
  },
  {
    "name": "Orhan Pamuk",
    "birth_country": "Turkey",
    "birth_country_now": "Turkey",
    "prizes": [
      {
        "year": "2006",
        "category": "Literature"
      }
    ]
  }
]