In [1]:
import json
import pandas as pd

In [2]:
file_path = "data/prizes-1000.json"

with open(file_path, 'r') as file:
    data = json.load(file)

In [5]:
data.keys()

dict_keys(['nobelPrizes', 'meta', 'links'])

In [6]:
data['nobelPrizes'][0]

{'awardYear': '1901',
 'category': {'en': 'Chemistry', 'no': 'Kjemi', 'se': 'Kemi'},
 'categoryFullName': {'en': 'The Nobel Prize in Chemistry',
  'no': 'Nobelprisen i kjemi',
  'se': 'Nobelpriset i kemi'},
 'dateAwarded': '1901-11-12',
 'prizeAmount': 150782,
 'prizeAmountAdjusted': 10531894,
 'links': [{'rel': 'nobelPrize',
   'href': 'https://api.nobelprize.org/2/nobelPrize/che/1901',
   'action': 'GET',
   'types': 'application/json'}],
 'laureates': [{'id': '160',
   'knownName': {'en': "Jacobus H. van 't Hoff"},
   'fullName': {'en': "Jacobus Henricus van 't Hoff"},
   'portion': '1',
   'sortOrder': '1',
   'motivation': {'en': 'in recognition of the extraordinary services he has rendered by the discovery of the laws of chemical dynamics and osmotic pressure in solutions',
    'se': 'såsom ett erkännande av den utomordentliga förtjänst han inlagt genom upptäckten av lagarna för den kemiska dynamiken och för det osmotiska trycket i lösningar'},
   'links': [{'rel': 'laureate',
     'href': 'https://api.nobelprize.org/2/laureate/160',
     'action': 'GET',
     'types': 'application/json'}]}]}

In [20]:
physics_data = []

for prize in data['nobelPrizes']:
    category = prize.get('category', {}).get('en')
    if category != 'Physics':
        continue
    laureates = prize.get('laureates')
    if laureates is None:
        continue
    motivation = laureates[0].get('motivation', {}).get('en')

    physics_data.append({
        'category': category,
        'year': prize.get('awardYear'),
        'laureates': len(prize.get('laureates')),
        'motivation': motivation
    })

In [29]:
def get_category_data(data, category_name):
    category_data = []

    for prize in data['nobelPrizes']:
        category = prize.get('category', {}).get('en')
        if category != category_name:
            continue
        laureates = prize.get('laureates')
        if laureates is None:
            continue
        motivation = laureates[0].get('motivation', {}).get('en')

        category_data.append({
            'year': prize.get('awardYear'),
            'number-of-laureates': len(prize.get('laureates')),
            'motivation': motivation
        })
    
    df = pd.DataFrame(category_data)

    df.sort_values('year', inplace=True)

    return df

In [30]:
physics_df = get_category_data(data, 'Physics')

In [31]:
physics_df.head()

,year,number-of-laureates,motivation
0,1901,1,in recognition of the extraordinary services h...
1,1902,2,in recognition of the extraordinary service th...
2,1903,3,in recognition of the extraordinary services h...
3,1904,1,for his investigations of the densities of the...
4,1905,1,for his work on cathode rays

In [32]:
physics_df.to_csv('data/physics-motivations.csv', index=False)

In [33]:
chemistry_df = get_category_data(data, 'Chemistry')

In [34]:
chemistry_df.head()

,year,number-of-laureates,motivation
0,1901,1,in recognition of the extraordinary services h...
1,1902,1,in recognition of the extraordinary services h...
2,1903,1,in recognition of the extraordinary services h...
3,1904,1,in recognition of his services in the discover...
4,1905,1,in recognition of his services in the advancem...

In [35]:
chemistry_df.to_csv('data/chemistry-motivations.csv', index=False)

In [36]:
physiology_df = get_category_data(data, 'Physiology or Medicine')

In [38]:
physiology_df.head()

,year,number-of-laureates,motivation
0,1901,1,"for his work on serum therapy, especially its ..."
1,1902,1,"for his work on malaria, by which he has shown..."
2,1903,1,in recognition of his contribution to the trea...
3,1904,1,in recognition of his work on the physiology o...
4,1905,1,for his investigations and discoveries in rela...

In [39]:
physiology_df.to_csv('data/physiology-or-biology-motivations.csv', index=False)